<ul class="navbar-nav text-center mx-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page"
           href="{{ path('home') }}">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           href="{{ path('default_category', { 'slug' : 'politique' }) }}">
            Politique </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           href="{{ path('default_category', { 'slug' : 'economie' }) }}">
            Economie </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           href="{{ path('default_category', { 'slug' : 'culture' }) }}">
            Culture </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           href="{{ path('default_category', { 'slug' : 'sports' }) }}">
            Sports </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           href="{{ path('default_category', { 'slug' : 'sante' }) }}">
            Sante </a>
    </li>
</ul>
<div class="text-right">
    {% if app.user %}
        <span class="navbar-text mx-2">
            Bienvenue {{ app.user.firstname }} 🔆
        </span>

        {% if is_granted('ROLE_AUTHOR') %}
            <a class="nav-item btn btn-warning" href="{{ path('post_create') }}">Créer un article</a>
        {% endif %}

        <a class="nav-item btn btn-outline-info" href="{{ path('app_logout') }}">Déconnexion</a>
    {% else %}
        <a class="nav-item btn btn-outline-info" href="{{ path('app_login') }}">Connexion</a>
        <a class="nav-item btn btn-outline-warning" href="{{ path('user_register') }}">Inscription</a>
    {% endif %}
</div>
